<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  对应的接口类的全类名 -->
<mapper namespace="com.kang.mybaits.customerMapper">
<!-- parameterTyper  对应参数的类型
	resultType 对应返回对象的类型
	resutlMap 通过配置resultMap来接受返回对象，可以解决实体类和表字段不符合的问题
-->
	<select id="getCustomer" parameterType="String"
		resultType="com.kang.mybaits.Customer">
		select *  from customers where username = #{username}
	</select>
	<!-- 	
		CRUD操作
	 -->
	 <update id="updateCus" parameterType="_Customer" >
		 update customers set username = #{username} ,userpassword = #{userpassword}, balance = #{balance} 
		 where username = #{username}
	 </update>
	 
	 <insert id="insert" parameterType="_Customer">
		 inset into customers (username,userpassword,balance) values(#{username}, #{userpassword},#{balance})
	 </insert>
	 
	 <delete id="delete" parameterType="String">
	 	delete from  customers where userpassword = #{userpassword}
	 </delete>
</mapper>
