<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 	注入HelloWorld -->
	<bean name="helloworld" class="com.kang.spring.helloworld.HelloWorld">
		<property name="name" value="world"></property>
	</bean>
<!-- 通過構造方法配置Bean；屬性 -->
	<bean id="Car"  class="com.kang.spring.helloworld.Car">
		<constructor-arg value="aodi"></constructor-arg>
		<constructor-arg value="shanghai"></constructor-arg>
		<constructor-arg value="2000"></constructor-arg>
	</bean>
	<bean id="car2" class="com.kang.spring.helloworld.Car">
		<constructor-arg value="baoma"></constructor-arg>
		<constructor-arg value="luoma "></constructor-arg>
		<constructor-arg value="240"  type="int"></constructor-arg>
	</bean>

</beans>
