<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
						xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
						xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ServletForCookie</servlet-name>
		<servlet-class>cn.com.systop.servlet.ServletForCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletForCookie</servlet-name>
		<url-pattern>/servletForCookie</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletForHidden</servlet-name>
		<servlet-class>cn.com.systop.servlet.ServletForHidden</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletForHidden</servlet-name>
		<url-pattern>/servletForHidden</url-pattern>
	</servlet-mapping>
</web-app>